{% if page.navigation %}
  <div class="layout-navigation">
    {{ page.navigation }}
  </div>
{% endif %}

<div class="layout-container">
  {% if page.messages %}
    <aside class="layout-messages">
      {{ page.messages }}
    </aside>
  {% endif %}

  <header role="banner">
    {{ page.header }}
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
